* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color:#34568B;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
  right: 0;
  font-family: century gothic;
  font-size: 15px;
  left: 0;
  top: 8;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 143.5px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  background-color: #4CAF50;
  border: none;
  color: rgb(7, 7, 7);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  width: 350px;
  border-radius: 12px;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  width: 350px;
  border-radius: 12px;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white; 
  color: black;
  width: 350px;
  border-radius: 12px; 
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

.button4 {
  background-color: white;
  color: black;
  width: 350px;
  border-radius: 12px;
  border: 2px solid #555555;
}

.button4:hover {
  background-color: #555555;
  color: white;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 85%;
  margin-left: 100px;
  background-color: #dddddd;
}

td, th {
  border: 1px solid #fcfcfc;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #6faafc;
}

.column {
  width: 50%;
  padding: 10px;
  height: 170px; 
  width: 100%;
} 

/*footer*/
.footer {
  position: relative;
  text-align: center;
  background: #2E2E2E;
  color: white;
  right: 0;
  left: 0;
  bottom: 0;
  height: 200px; }

